body {
    font-family: Poppins, sans-serif;
    text-align: center;
    background-color: cornsilk;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, .app-name {
    font-family: Yeseva One, serif;
    letter-spacing: .5px;
}

@media screen and (max-width: 760px){
    #is-mobile-container {
        display: none;
    }
}

/*@media screen and (max-width: 1064px){*/
/*    * {*/
/*        display: none;*/
/*    }*/
/*}*/

#sign-up, #login-form {
    max-width: 400px;
    margin: auto;
}

#sign-up>div, #login-form>input {
    margin-top: 1em;
    margin-bottom: 1em;
}

#map {
    width: 750px;
    height: 500px;
    margin: auto;
    margin-top: 20px;
    border: solid 5px #80ED99;
}

.container {
    display: flex;
    justify-content: center;
}

footer {
    border-top: 1px solid black;
    margin-top: 4em;
    padding: 4em;
}