* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light: rgb(255, 226, 192);
    --gold: #EFC88B;
    --dark-teal-o: rgba(0, 78, 100, 0.8);
    --green-o: rgba(104, 139, 88, 0.8);
    --brown: #60463B;
    --light-blue: #A0CED9;
    --dark-teal: rgba(0, 78, 100);
    --green: rgba(104, 139, 88);
}

body {
    font-family: Poppins, sans-serif;
    text-align: center;
    color: #fff;

    background-image: linear-gradient(
            to bottom, var(--green-o), var(--dark-teal-o)),
    url("../img/wander-background-1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.no-scroll {
    overflow: hidden;
}

nav {
    background-color: var(--dark-teal);
    color: #fff;
}

.nav-item:link,
.nav-item:visited {
    text-decoration: none;
    color: #fff;
}

.nav-item:hover {
    background-color: var(--dark-teal);
    color: var(--gold);
    border-radius: 100px;
    padding: 0 .3em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Yeseva One, serif;
    letter-spacing: .5px;
    margin: .75em 0;
}

.logo {
    max-height: 30px;
    margin: 0 1em;

    animation: fadeIn .7s ease;
    animation-fill-mode: backwards;
    animation-delay: .5s;
}

.logo i {
    font-size: x-large;
    color: var(--light);
}

.navbar-toggler-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link-css {
    display: block;
    text-decoration: none;
    color: var(--light);
    padding: .5em;
    margin: 0 1em;
    transition-property: color, background-color, border-color;
    transition-duration: 0.15s, 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0s, 0s, 0s;
}

.nav-link-css:hover {
    text-decoration: none;
    color: var(--gold);
    padding: .5em;
    transform: scale(1.2);
}

.app-name {
    font-family: Yeseva One, serif;
    text-transform: lowercase;
    font-size: 1.5em;
    letter-spacing: .1em;
    text-decoration: none;
    color: #fff;
}

.app-name:hover {
    color: var(--gold);
    transform: scale(1.3);
    text-decoration: none;
}

.my-feed-box {
    position: relative;
    height: 100vh;
    width: 100%;
    color: #fff;
}

.my-feed-window {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.btn,
.btn:link,
.btn:visited {
    text-decoration: none;
    text-transform: lowercase;
    font-family: "Poppins", sans-serif;
    font-size: x-large;
    letter-spacing: 0.1em;

    display: block;
    padding: 15px 40px;
    border-radius: 100px;
    position: relative;
}

.btn:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
    transform: translateY(-4px);
}

.btn-small:link,
.btn-small:visited {
    text-decoration: none;
    text-transform: lowercase;
    font-family: "Poppins", sans-serif;
    font-size: small;

    border-radius: 100px;
    padding: 5px 10px;
}

.btn-small:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
    transform: translateY(-4px);

    background-color: var(--dark-teal);
    color: #fff;
}

.btn-medium:link,
.btn-medium:visited {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: medium;

    border-radius: 100px;
    padding: 5px 10px;
    margin: auto;
}

.btn-medium:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
    transform: translateY(-4px);

    background-color: var(--gold);
    color: #000;
}

.btn-white {
    background-color: #fff;
    color: #000;
}

.btn-white:hover {
    background-color: var(--dark-teal);
    color: #fff;
}

.btn-blue {
    background-color: var(--dark-teal);
    color: #fff;!important
    border-radius: 100px;
}

.btn-blue:hover {
    background-color: var(--gold);
    color: #000;
}

.btn-green {
    background-color: var(--green);
    color: #fff;
}

.btn-green:hover {
    background-color: var(--brown);
    color: var(--gold);
}

.btn-red {
    background-color: #f00;
    color: #fff;
    border-radius: 100px;
}

.user-btn {
    padding: .3em 1em;
    margin: 1em;
}

.dropdown-item {
    margin-left: -.1em;
}

#sign-up>div {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
}

#map {
    width: 85%;
    height: 50em;

    border: 1px solid var(--gold);
    border-radius: 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .5);
}

#instructions {
    margin: 1em;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: left;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
}

footer {
    height: 85px;
}

/* LOGIN PAGE STYLING */
.welcome-box {
    position: relative;
    height: 85vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-box {
    position: absolute;
    top: 20px;
    left: 20px;
}

.header-box {
    color: white;
}

.heading-text-main {
    display: block;
    margin-bottom: 10px;

    text-transform: lowercase;
    letter-spacing: 15px;
    font-size: 70px;
    color: var(--light);

    animation: fadeInPop 1s ease-out;
    animation-fill-mode: backwards;
}

.heading-text-sub {
    display: block;
    text-transform: lowercase;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    letter-spacing: 10px;

    animation: fadeIn 1s ease-in;
    animation-fill-mode: backwards;
    animation-delay: 1s;
}

#login-btn {
    margin: .5em;

    animation: fadeUp .7s ease;
    animation-fill-mode: backwards;
    animation-delay: 1.3s;
}

#signup-btn {
    margin: .5em;

    animation: fadeUp .7s ease;
    animation-fill-mode: backwards;
    animation-delay: 1.6s;
}

.btn-close {
    position: absolute;
    top: -30px;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

.btn-close:hover,
.btn-close:active {
    background-color: red;
}

#login-box,
#signup-box,
#delete-box,
#change-password-box,
#hiking-box,
#plants-box,
#notes-box,
#free-box {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-color: rgb(0, 0, 0, 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-box:not(:target),
#signup-box:not(:target),
#delete-box:not(:target),
#change-password-box:not(:target),
#hiking-box:not(:target),
#plants-box:not(:target),
#notes-box:not(:target),
#free-box:not(:target) {
    visibility: hidden;
    opacity: 0;
}

#login-window,
#signup-window,
#delete-window,
#change-password-window,
#hiking-window,
#plants-window,
#notes-window,
#free-window
 {
    position: relative;
    margin: 1em;
    padding: 0 1em;
    background-color: #fff;
    color: #000;

    border-radius: 20px;
    max-width: 400px;
    max-height: 95%;
}

#login-form > input,
#signup-form > input,
#delete-form > input,
#delete-form > a,
#password-form > input {
    margin-top: .5em;
    margin-bottom: .5em;
    padding: .5em;
}

.field {
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}

#emailInfo {
    color: var(--green);
}

#recommended-trails-box, #friend-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trail-box, .friend-box {
    height: 100px;
    width: 100px;
    background-color: var(--gold);
    border: 1px solid var(--green);
    margin: 1em;
}

.spacer {
    height: 5em;
}

/*START PROFILE PAGE STYLING*/
.profile-pic {
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.account-details {
    width: 25em;
}

.account-value {
    color: var(--light-blue);
}

.plant-pic-btn {
    z-index: 1000;
    height: 75px;
    width: 75px;
    margin: 1em;

    position: fixed;
    right: .5em;
    bottom: 1.5em;

    text-decoration: none;
    border-radius: 100px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .5);
    background-color: var(--gold);
    color: #000;
}

.plant-pic-btn:hover {
    box-shadow: none;
    background-color: var(--green);
    color: #fff;
}

.plant-pic-btn i {
    text-align: center;
    font-size: xx-large;

    margin: auto;
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
}

.card-group {
    display: flex;
    justify-content: center;
    margin: auto;
}

.card {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.35);
    padding: .5em;
    margin: .5em;
    border-radius: 7px;
}

.card-name {
    height: 1.75em;
}
.plant-photo {
    width: 100%;
    margin: auto;
    padding: 0.5em;
    border-radius: 20px;
}

.loading-screen {
    z-index: 1001;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    background-color: var(--dark-teal);
}

.spinner {
    width: 100px;
    height: 100px;
    margin: 0;
    background: transparent;
    border-top: 4px solid var(--gold);
    border-right: 4px solid transparent;
    border-radius: 50%;
    -webkit-animation: 1s spin linear infinite;
    animation: 1s spin linear infinite;
}

.profile-account-details {
    font-size: large;
    margin-left: .5em;
}

.about-modal {
    width: 200px;
    height: 200px;

    border-radius: 7px;
    margin: 1em;
    background-color: rgba(0, 0, 0, .5);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-modal a {
    text-decoration: none;
    color: #fff;
}

#plantpicture {
    width: 100%;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes fadeInPop {
    0% {
        opacity: .5;
        transform: scale(.8);
    }

    80% {
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translate(0 100px);
    }

    100% {
        opacity: 1;
        transform: translate(0 0);
    }
}

.delay {
    animation: fade-me-in 10s;
}

@keyframes fade-me-in {
    0% {opacity:0;}
    80% {opacity:0;}
    100% {opacity:1;}
}