<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="partials.html :: site-head"></div>
<body>
<div th:replace="partials.html :: site-header"></div>
<th:block th:switch="${error}">
    <div th:case="'Not Found'">
        <h1>Page not found!!</h1>
    </div>
    <div th:case="'Forbidden'">
        <h1>You don't have permission to view this page.</h1>
    </div>
</th:block>
<p>Something broke :(</p>
<h1>DESTRUCTION!!!!!!</h1>
<button onclick="history.back()">Go Back!</button>
<div th:replace="partials.html :: site-footer"></div>
</iframe>
</body>
</html>