<!DOCTYPE html>
<html lang="en">
<div th:replace="partials.html :: site-head"></div>
<body>
<div th:replace="partials.html :: site-header"></div>
<h1>The Squad</h1>


<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-3">
			<h2 style="margin-bottom:0">Joanna</h2> <h2 style="margin-top:0">Foss</h2>
			<img src="https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dGVjaG5vbG9neXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60" alt="Joanna Foss" height="150" width="150" style="border-radius:50%"/>
			<h4>Front End Design</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad delectus error ipsam laudantium obcaecati placeat repellendus, veniam. Cum dignissimos dolor error labore nulla quibusdam sequi.</p>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-3">
			<h2 style="margin-bottom:0">Kevin</h2> <h2 style="margin-top:0">Orta</h2>
			<img src="https://images.unsplash.com/photo-1517433456452-f9633a875f6f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHRlY2hub2xvZ3l8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60" alt="Kevin Orta" height="150" width="150" style="border-radius:50%"/>
			<h4>Front End Functionality</h4>
			<p>Software developer with a passion for developing innovative programs that expedite the efficiency and effectiveness of organizational success. Skilled leader who can motivate, educate, and manage a team of professionals who meet a company’s organizational needs, highlight their core competencies, and further their success.</p>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-3">
			<h2 style="margin-bottom:0">Steven</h2> <h2 style="margin-top:0">Lacy</h2>
			<img src="https://images.unsplash.com/photo-1487058792275-0ad4aaf24ca7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHRlY2hub2xvZ3l8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60" alt="Steven Lacy" height="150" width="150" style="border-radius:50%"/>
			<h4>Controllers</h4>
			<p>Software developer and Navy Veteran with experience in aviation logistics, leadership, and proven ability to translate concepts into logical systems. As a full-stack developer driven by curiosity and continuous growth, my goal is to develop systems that deliver value.</p>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-3">
			<h2 style="margin-bottom:0">Nick</h2> <h2 style="margin-top:0">Adams</h2>
			<img src="https://images.unsplash.com/photo-1642046288587-6919c60f83dd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDV8aVVJc25WdGpCMFl8fGVufDB8fHx8&auto=format&fit=crop&w=600&q=60" alt="Nick Adams" height="150" width="150" style="border-radius:50%"/>
			<h4>Database</h4>
			<p>Software Engineer with a background in service and operations of the casino industry. Combining experience leading and interacting with people with full-stack skills to create technology that will ultimately help enhance people’s daily tasks.</p>
		</div>

	</div>


</div>
<div th:replace="partials.html :: site-footer"></div>
<script src=""></script>
</body>
</html>