<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="partials.html :: site-head"></div>
<body>
<div th:replace="partials.html :: site-header"></div>
<h1 class="text-red-400">This is the Index Page</h1>
<div id="map"></div>



<div th:replace="partials.html :: site-footer"></div>
<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="js/keys.js"></script>
<script src="js/mapbox-geocoder-utils.js"></script>
<!--MapBox CDN Below-->
<script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />
<script src="js/backend.js"></script>
</body>
</html>