<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="partials.html :: site-head"></div>
<body>
<div th:replace="partials.html :: site-header"></div>

<div class="my-feed-box">
	<div class="my-feed-window">
		<h1>You're Wanderful</h1>
		
		<div id="map"></div>
		
		<a class="btn btn-blue user-btn" th:href="@{my-trails}">My saved trails</a>
		<a class="btn btn-green user-btn" th:href="@{plants}">My Plants</a>
		
<!--		<div id="recommended-trails-box">-->
<!--			<div class="trail-box"></div>-->
<!--			<div class="trail-box"></div>-->
<!--			<div class="trail-box"></div>-->
<!--		</div>-->
<!--		<h1>My Friends</h1>-->
<!--		<div id="friend-box">-->
<!--			<div class="friend-box"></div>-->
<!--			<div class="friend-box"></div>-->
<!--			<div class="friend-box"></div>-->
<!--		</div>-->
	</div>
	<div class="spacer"></div>
</div>
</div>

<div th:replace="partials.html :: plant-button"></div>
<div th:replace="partials.html :: site-footer"></div>
<div th:replace="partials.html :: site-scripts"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    const mapBoxAPIkey = /*[[${mapboxAPIkey}]]*/ '';
    const file = /*[[${fsKey}]]*/ 'default';
    const client = filestack.init(file);
    const options = {
        onUploadDone: updateForm,
        maxSize: 10 * 1024 * 1024,
        accept: 'image/*',
        uploadInBackground: false,
    };
    const picker = client.picker(options);


    // Get references to the DOM elements

    const form = document.getElementById('pick-form');
    const fileInput = document.getElementById('img');
    const btn = document.getElementById('picker');
    const nameBox = document.getElementById('nameBox');
    const urlBox = document.getElementById('urlBox');

    // Add our event listeners

    btn.addEventListener('click', function (e) {
        e.preventDefault();
        picker.open();
    });

    form.addEventListener('submit', function (e) {
        e.preventDefault();
        alert('Submitting: ' + fileInput.value);
    });

    // Helper to overwrite the field input value

    function updateForm(result) {
        const fileData = result.filesUploaded[0];
        fileInput.value = fileData.url;
        console.log(fileData.url)


        // Some ugly DOM code to show some data.
        const name = document.createTextNode('Selected: ' + fileData.filename);
        const url = document.createElement('a');
        url.href = fileData.url;
        url.appendChild(document.createTextNode(fileData.url));
        nameBox.appendChild(name);
        urlBox.appendChild(document.createTextNode('Uploaded to: '));
        urlBox.appendChild(url);
        document.getElementById("img").value = fileData.url


    }

    /*]]>*/
</script>
</body>
</html>