<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="partials.html :: site-head"></div>
<body>
<div th:replace="partials.html :: site-header"></div>

<div class="my-feed-box">
	<div class="my-feed-window">
		<h1>Recommended Trails</h1>
		<div id="recommended-trails-box">
			<div class="trail-box"></div>
			<div class="trail-box"></div>
			<div class="trail-box"></div>
		</div>
		
		<a class="btn btn-white user-btn" th:href="@{my-trails}">My saved trails</a>
		
		<div id="map"></div>
		
		<h1>My Friends</h1>
		<div id="friend-box">
			<div class="friend-box"></div>
			<div class="friend-box"></div>
			<div class="friend-box"></div>
		</div>
	</div>
	<div class="spacer"></div>
</div>
</div>

<div th:replace="partials.html :: plant-button"></div>
<div th:replace="partials.html :: site-footer"></div>

<div th:replace="partials.html :: site-scripts"></div>
</body>
</html>