<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="partials.html :: site-head"></head>

<head>
<style>
	body {
		background-color: cornsilk;
		overflow: hidden;
	}
	
	#login-box {
		background-color: white;
		border-radius: 3px;
		width: 500px;
		padding: 3px;
		margin: 3px;
	}
</style>
</head>

<body>
<div th:replace="partials.html :: site-header"></div>

<div class="container">
<div id="login-box">
	<h1>Log In</h1>
	<div th:if="${param.error}">
		Invalid Username and Password.
	</div>
	<div th:if="${param.logout}">
		You have been logged out.
	</div>
	
	<form th:action="@{/login}" method="post" class="d-flex flex-column" id="login-form">
		<input class="border-0" id="username" name="username" type="text" placeholder="Username">
		<input class="border-0" id="password" name="password" type="password" placeholder="Password">
		<div></div>
		<input class="border-0 btn btn-primary" type="submit" value="Log In">
	</form>
</div>
</div>

<div th:replace="partials.html :: site-footer"></div>

<div th:replace="partials.html :: site-scripts"></div>
</body>
</html>