<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org">
<div th:replace="partials.html :: site-head"></div>
<body>

<div class="welcome-box">
	<div class="logo-box">
		<div class="logo">
			<a class="about-us"
			   href="/about-us"><i class="fas fa-leaf"></i></a>
		</div>
	</div>

	<div class="header-box">
		<h1 class="heading-text-main"
			id="wander">Wander</h1>
		<h2 class="heading-text-sub">into the wild.</h2>
	</div>

	<a class="btn btn-white"
	   href="#login-box"
	   id="login-btn">Login</a>
	<div th:if="${param.error}">
		Invalid Username and Password.
	</div>
	<div th:if="${param.logout}">
		You have been logged out.
	</div>
	<a class="btn btn-green"
	   href="#signup-box"
	   id="signup-btn">Sign Up</a>

</div>

<div id="login-box">
	<div id="login-window">
		<a class="btn-close btn-small btn-white"
		   href="#"></a>
		<h1>🥾</h1>
		<h1>Hello Wanderer!</h1>

		<form class="d-flex flex-column"
			  id="login-form"
			  method="post"
			  th:action="@{/login}">
			<input class="border-0"
				   id="username"
				   name="username"
				   placeholder="Username"
				   type="text">
			<input class="border-0"
				   id="password"
				   name="password"
				   placeholder="Password"
				   type="password">
			<div></div>
			<input class="border-0 btn btn-green"
				   type="submit"
				   value="Log In">
		</form>
	</div>
</div>

<div id="signup-box">
	<div id="signup-window">
		<a class="btn-close btn-small btn-black-white"
		   href="#"></a>
		<h1>👋</h1>
		<h1>Welcome Wanderer!</h1>

		<form class="d-flex flex-column"
			  id="signup-form"
			  th:action="@{/sign-up}"
			  th:method="post"
			  th:object="${user}">
			<input class="border-0"
				   id="first-name"
				   name="first-name"
				   placeholder="Enter first name"
				   required
				   th:field="*{firstName}"
				   type="text">
			<span th:errors="*{firstName}"
				  th:if="${#fields.hasErrors('firstName')}"></span>

			<input class="border-0"
				   id="last-name"
				   name="last-name"
				   placeholder="Enter last name"
				   required
				   th:field="*{lastName}"
				   type="text">
			<span th:errors="*{lastName}"
				  th:if="${#fields.hasErrors('lastName')}"></span>

			<input class="border-0"
				   id="email"
				   name="email"
				   placeholder="Enter valid email"
				   required
				   th:field="*{email}"
				   type="email">
			<span th:errors="*{email}"
				  th:if="${#fields.hasErrors('email')}"></span>
			<small class="form-text"
				   id="emailInfo">We'll never share your email with anyone else.</small>

			<input class="border-0"
				   id="signup-username"
				   name="username"
				   placeholder="Choose username"
				   required
				   th:field="*{username}"
				   type="text">
			<span th:errors="*{username}"
				  th:if="${#fields.hasErrors('username')}"></span>

			<input class="border-0"
				   id="signup-password"
				   name="password"
				   placeholder="Choose password"
				   type="password">

			<div></div>
			<input class="border-0 btn btn-green"
				   type="submit"
				   value="Sign Up">
		</form>
	</div>

	<div th:replace="partials.html :: site-footer"></div>
</div>

<div th:replace="partials.html :: site-scripts"></div>
</body>
</html>