<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="partials.html :: site-head"></div>
<body>

<div class="welcome-box">
	<div class="logo-box">
		<div class="logo">
			<i class="fas fa-leaf"></i>
		</div>
	</div>
	
	<div class="header-box">
		<h1 class="heading-text-main">Wander</h1>
		<h2 class="heading-text-sub">into the wild.</h2>
	</div>
	
	<a href="#login-box" id="login-btn" class="btn btn-white">Login</a>
	<div th:if="${param.error}">
		Invalid Username and Password.
	</div>
	<div th:if="${param.logout}">
		You have been logged out.
	</div>
	<a href="#signup-box" id="signup-btn" class="btn btn-green">Sign Up</a>

</div>

<div id="login-box">
	<div id="login-window">
		<a href="#" class="btn-close btn-small btn-white"></a>
		<h1>🥾</h1>
		<h1>Hello Wanderer!</h1>
		
		<form th:action="@{/login}" method="post" class="d-flex flex-column" id="login-form">
			<input class="border-0" id="username" name="username" type="text" placeholder="Username">
			<input class="border-0" id="password" name="password" type="password" placeholder="Password">
			<div></div>
			<input class="border-0 btn btn-green" type="submit" value="Log In">
		</form>
	</div>
</div>

<div id="signup-box">
	<div id="signup-window">
		<a href="#" class="btn-close btn-small btn-black-white"></a>
		<h1>👋</h1>
		<h1>Welcome Wanderer!</h1>
		
		<form id="signup-form" class="d-flex flex-column" th:action="@{/sign-up}" th:method="post" th:object="${user}">
			<input class="border-0" id="first-name" name="first-name" th:field="*{firstName}" type="text"
			       placeholder="Enter first name">
			<span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
			
			<input class="border-0" id="last-name" name="last-name" th:field="*{lastName}" type="text"
			       placeholder="Enter last name">
			<span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
			
			<input class="border-0" id="email" name="email" th:field="*{email}" type="text"
			       placeholder="Enter valid email">
			<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
			<small id="emailInfo" class="form-text">We'll never share your email with anyone else.</small>
			
			<input class="border-0" id="signup-username" name="username" th:field="*{username}" type="text"
			       placeholder="Choose username">
			<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
			
			<input class="border-0" id="signup-password" name="password" type="password" placeholder="Choose password">
			
			<div></div>
			<input class="border-0 btn btn-green" type="submit" value="Sign Up">
		</form>
	</div>
	
	<div th:replace="partials.html :: site-footer"></div>
</div>

<div th:replace="partials.html :: site-scripts"></div>
</body>
</html>