<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="partials.html :: site-head"></div>
<body>
<div th:replace="partials.html :: site-header"></div>
<h1>My Plants</h1>

<a th:href="@{/plants/upload}" id="login-btn" class="btn btn-black-white">Upload</a>

<form th:action="@{/plants/delete}" th:method="post" th:object="${plant}">
    <div th:each="plants: ${plants}">
        <input type="hidden" th:field="*{id}"/>
        <img th:src="${plants.getimageUrl()}"  alt="Profile picture" height="150px" width="150px"/>
        <p th:text="${plants.getPlantname()}"></p>
        <p th:text="${plants.getPlantDescription()}"></p>
        <input type="submit" value="Delete" name="plantId" th:value="${plants.getId()}" class="btn btn-outline-dark">
    </div>
</form>



<!--<form  th:action="@{/plants}" th:method="post" id="trail" th:object="${plant}">-->
<!--    <div class="row form-group">-->
<!--        <div class="col">-->
<!--            <input type="text" class="form-control" th:field="*{imageUrl}" placeholder="Trail name">-->
<!--            <span th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}"></span>-->
<!--        </div>-->
<!--    </div>-->
<!--	-->
<!--    <div class="d-flex justify-content-end">-->
<!--        <input type="submit" value="Submit" class="btn btn-outline-dark">-->
<!--    </div>-->
<!--</form>-->

<div th:replace="partials.html :: plant-button"></div>
<div th:replace="partials.html :: site-footer"></div>
<div th:replace="partials.html :: site-scripts"></div>
</body>
</html>