<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="partials.html :: site-head"></div>
<body>
<div th:replace="partials.html :: site-header"></div>
<h1>My Trails</h1>
<form th:action="@{/my-trails/delete}" th:method="post" th:object="${trail}">
    <div th:each="trail : ${trails}">
        <div class="card mx-auto">
            <input type="hidden" th:field="*{id}"/>
            <h1 th:text="${trail.getTrailName()}"></h1>
            <h5>My notes:</h5>
            <p th:text="${trail.getTrailDescription()}" th:value="${trail.getId()}"></p>
            <h5>Location:</h5>
            <p th:text="${trail.getTrailHeadLocation()}"></p>
            <h5>Trail Length:</h5>
            <p class="m-1" th:text="${trail.trailLength} + ' ' + mi"></p>
            <button type="submit" value="Delete" name="trailId" th:value="${trail.getId()}" class="btn btn-blue user-btn">Delete</button>
        </div>
    </div>
</form>

<h1>Add a Trail</h1>
<div class="container">

    <form th:action="@{/my-trails}" th:method="post" id="trail" th:object="${trail}">
        <div class="row form-group">
            <div class="col">
                <label for="trailName">Name:</label>
                <input type="text" id="trailName" class="form-control" th:field="*{trailName}" placeholder="Trail name" required>
                <span th:if="${#fields.hasErrors('trailName')}" th:errors="*{trailName}"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="trailLength">Length:</label>
            <input type="text" id="trailLength" class="form-control" th:field="*{trailLength}" placeholder="trail length" required>
            <span th:if="${#fields.hasErrors('trailLength')}" th:errors="*{trailLength}"></span>
        </div>
        <div class="form-group">
            <label for="traillocation">Location:</label>
            <input type="text" class="form-control" th:field="*{trailHeadLocation}" id="trailLocation"
                   placeholder="trail head location" required>
            <span th:if="${#fields.hasErrors('trailHeadLocation')}" th:errors="*{trailHeadLocation}"></span>
        </div>

        <div class="form-group">
            <label for="trailNotes">Notes:</label>
            <textarea cols="40" rows="4" class="form-control" th:field="*{trailDescription}" id="trailNotes"
                      placeholder="notes" required></textarea>
            <span th:if="${#fields.hasErrors('trailDescription')}" th:errors="*{trailDescription}"></span>
        </div>
            <input type="submit" value="Submit" class="btn btn-white user-btn mx-auto">
    </form>

</div>
<div class="spacer"></div>

<div th:replace="partials.html :: plant-button"></div>
<div th:replace="partials.html :: site-footer"></div>
<div th:replace="partials.html :: site-scripts"></div>
</body>
</html>