<head th:fragment="site-head">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>page</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins&family=Yeseva+One&display=swap" rel="stylesheet">
	<link href='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet'>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/style.css">
</head>

<header th:fragment="site-header">
	<div th:replace="partials.html :: site-nav"></div>
	<h1>Title</h1>
</header>

<nav th:fragment="site-nav" class="navbar navbar-expand-lg">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Wander</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
		        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/index">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/all-trails">Trails</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
					   data-bs-toggle="dropdown" aria-expanded="false">
						Account
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<li><a class="dropdown-item" href="/sign-up">Sign Up</a></li>
						<li><a class="dropdown-item" href="/login">Login</a></li>
						<li><a class="dropdown-item" href="/profile/{username}">My Profile</a></li>
						<li><a class="dropdown-item" href="/profile/{username}/settings">Settings</a></li>
						<li>
							<form th:action="@{/logout}" th:method="post">
								<button class="btn-link btn" style="margin-top: 8px">Logout</button>
							</form>
						</li>
						<li><a class="dropdown-item" href="/trails">My Trails</a></li>
						<li><a class="dropdown-item" href="/plants">My Plants</a></li>
						<li><a class="dropdown-item" href="/all-friends">Friends</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
<footer th:fragment="site-footer" class="d-flex justify-content-center">
	<p>This site was made by the team at <span class="app-name">Wander</span>.</p>
</footer>

<div th:fragment="site-scripts">
	<script src="https://code.jquery.com/jquery-3.6.0.js"
	        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<script src="js/keys.js"></script>
	<script src="js/mapbox-geocoder-utils.js"></script>
	<script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
	<script src="js/backend.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
	        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
	        crossorigin="anonymous"></script>
	    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

	</div>