<head th:fragment="site-head">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>page</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins&family=Yeseva+One&display=swap" rel="stylesheet">
	<link href='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet'>
	<link rel="stylesheet" href="/css/style.css">
</head>

<header th:fragment="site-header">
	<div th:replace="partials.html :: site-nav"></div>
	<h1>Title</h1>
</header>

<nav th:fragment="site-nav">
	<p>This is the navbar.</p>
</nav>

<footer th:fragment="site-footer">
	<p>This site was made by the team at <span class="app-name">wander</span>.</p>
</footer>