<!DOCTYPE html>
<html lang="en">
<div th:replace="partials.html :: site-head"></div>
<body>
<div th:replace="partials.html :: site-header"></div>
<div>
	<p>This is the user's profile page for </p>
	<div>
		<p> Name: <span  th:text="*{user.firstName}"></span>
		<span th:text="*{user.lastName}"></span>
		<br>
		Email: <span th:text="*{user.email}"></span>
		<br>
		DOB:  <span th:text="*{user.DOB}"></span></p>
		<br>

<!--		<img th:src="@{'data:image/jpeg;base64,'+${user.defaultimg.generateBase64Image()}}" alt="default"/>-->
<!--	</div>-->

</div>
<div th:replace="partials.html :: site-footer"></div>
<div th:replace="partials.html :: site-scripts"></div>
</body>
</html>