<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="partials.html :: site-head"></div>
<body>
<div th:replace="partials.html :: site-header"></div>

<form id="sign-up" th:action="@{/sign-up}" th:method="post" th:object="${user}">

  <div class="row">
    <div class="col">
      <label for="firstName">firstName</label>
      <input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name">
      <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
    </div>
    <div class="col">
      <label for="lastName">lastName</label>
      <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
      <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="username">userName</label>
    <input type="text" th:field="*{username}" id="username" placeholder="Name">
    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="password">password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="password">
  </div>
  <input type="submit" value="Add User">
</form>

<div th:replace="partials.html :: site-footer"></div>

<div th:replace="partials.html :: site-scripts"></div>
</body>
</html>
