<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload Plant</title>
</head>
<body>

<form th:action="@{/plants}" th:method="post">
    <input type="file" multiple>
    <input id="plantUrl" name="plantUrl" type="hidden" th:value="replaceme">
    <input id="plantName" name="plantName" type="hidden" th:value="replacethis">
    <input id="plantDescription" name="plantDescription" type="hidden" th:value="replacealso">
    <button type="button">Scan Plant</button>
    <button type="submit">Save to your Plants</button>
</form>


<div id="plant" style="font-weight: bold; font-size: large; color: firebrick"></div>

<div th:replace="partials.html :: site-scripts"></div>
</body>
</html>