<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"></script>
</head>
<!--<body>-->
<!--<form>-->
<!--    <input type="file" multiple>-->
<!--<button type="button">Ok</button>-->
<!--</form>-->


THIS CODE STARTS THE CAMERA FOR THE USER
<video id="webcam" autoplay playsinline style="height: 100vh;"></video>
<audio id="snapSound" src="audio/snap.wav" preload="auto"></audio>

<div id="cameraControls" class="cameraControls">
	<a href="#" id="exit-app" title="Exit App" class="d-none"><i class="material-icons">exit_to_app</i></a>
	<a href="#" id="take-photo" title="Take Photo"><i class="material-icons">camera_alt</i></a>
	<a href="#" id="download-photo" download="selfie.png" target="_blank" title="Save Photo" class="d-none"><i
			class="material-icons">file_download</i></a>
	<a href="#" id="resume-camera" title="Resume Camera" class="d-none"><i class="material-icons">camera_front</i></a>
</div>

<div id="plant" name="plant" style="font-weight: bold; font-size: large; color: firebrick"></div>
<script src="/public/js/keys.js"></script>
<script src="/public/js/plantID.js"></script>
</body>
</html>