<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="partials.html :: site-head"></div>

<body>

<div th:replace="partials.html :: site-header"></div>


<form method="post">
    <input type="file" multiple>
<button type="button">Ok</button>
</form>
<div id="plant" name="plant" style="font-weight: bold; font-size: large; color: firebrick"></div>
<input id="plantUrl" name="plantUrl" type="hidden">

<div th:replace="partials.html :: site-footer"></div>
<div th:replace="partials.html :: site-scripts"></div>
</body>
</html>